
  
  #box-1{
    color: rgb(54, 125, 54);
    border:2px;
    border-style: solid;
    border-color: rgb(54, 125, 54);
    text-align: center;
    display:inline-block;
    border-radius:12px;
    background-color: rgba(225, 232, 230, 0.941);
   font-size: 16px;
   padding: 10px 24px;
  }

  #box-2{
    
    color: rgb(249, 255, 249);
    border:2px;
    border-style: solid;
    border-color: rgb(121, 214, 186);
    text-align: center;
    display:inline-block;
    border-radius:100%;
    background-color: rgb(121, 214, 186);
   font-size: 30px;
   padding: 8px 22px;

  }
  #box-3{
      box-shadow: 10px 5px 5px black;
      border:2px;
    color: rgb(249, 255, 249);
    border-color: rgb(13, 17, 16);
    text-align: center;
    background-color: rgb(49, 53, 190);
    font-size: 16px;
    padding: 10px 24px;
    display: inline-block;
  }
